<app-navbar />
<app-hero-section title="Project Timeline & Personal Activities"></app-hero-section>

<section class="add-activity-section mt-4">
  <div class="container">
    <app-add-activity (activitiesCreated)="onActivityUpdated()" />
  </div>
</section>

<section class="activities-section py-5">
  <div class="container">
    <h3 class="recent-activities-title"><i class="bi bi-clock-history me-2"></i>My Recent Feed</h3>

    <div class="switch-container my-2">
      <span class="switch-label" id="switch-label">Switch View: </span>
      <button
        type="button"
        class="view-switcher-btn"
        [class.active]="switchSection"
        (click)="handleSwitchSection()"
        role="switch"
        [attr.aria-checked]="switchSection"
        aria-labelledby="switch-label"
      >
        <span class="switch-track">
          <span class="switch-thumb">
            <i class="bi" [ngClass]="switchSection ? 'bi-card-list' : 'bi-table'"></i>
          </span>

          <span class="switch-labels">
            <span class="label-text" [class.hidden]="!switchSection">List</span>
            <span class="label-text" [class.hidden]="switchSection">Table</span>
          </span>
        </span>
      </button>
    </div>

    @if(switchSection) {
    <app-activities-list
      [activities]="activities$ | async"
      (onEditActivity)="openEdit($event)"
      (onRemoveActivity)="onDeleteActivity($event.id!)"
      [hideProfileDetails]="true"
    />
    } @else {
    <app-activities-table
      [activities]="activities$ | async"
      [hideProfileDetails]="true"
      (onEditActivity)="openEdit($event)"
      (onRemoveActivity)="onDeleteActivity($event.id!)"
    />
    }
  </div>
</section>

<app-edit-activity
  [activity]="selectedActivity"
  [isOpen]="isEditOpen"
  (updated)="onActivityUpdated()"
  (closed)="isEditOpen = false"
>
</app-edit-activity>
<app-footer />
