<section class="hero-section">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <div class="hero-container-text text-center animate__animated animate__fadeIn">
      <span
        class="text-uppercase ultra-small fw-bold text-primary-light mb-2 d-block tracking-widest"
        >Management Portal</span
      >
      <h1 class="hero-content-title fw-bold">{{ title }}</h1>
      <div class="h-divider mx-auto my-3"></div>
      <p class="hero-subtitle mb-0 text-white-50 small">
        {{ description}}
      </p>
    </div>
  </div>
</section>