.dashboard-page-container {
    display: flex;
    align-items: flex-start;

    .container {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .dashboard-sidebar {
        position: sticky;
        top: 0;
        height: 100vh;
        z-index: 1;

        @media screen and (min-width: 768px) {
            width: 33.33333333%;
        }

        @media screen and (min-width: 992px) {
            width: 25%;
        }

        @media screen and (min-width: 1280px) {
            width: 16.66666667%;
        }
    }

    .dashboard-content {
        min-height: 100vh;
        width: 100%;
        flex-grow: 1;

        @media screen and (min-width: 768px) {
            width: 66.66666667%;
        }

        @media screen and (min-width: 992px) {
            width: 75%;
        }

        @media screen and (min-width: 1280px) {
            width: 83.33333333%;
        }
    }
}

.animate__fadeIn {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}