<div class="dashboard-page-container">
  <app-sidebar
    [activeSection]="activeSection"
    (sectionChanged)="setSection($event)"
    class="dashboard-sidebar"
  ></app-sidebar>

  <div class="dashboard-content animate__fadeIn">
    <div class="container">
      <!-- PROFILE -->
      @if (activeSection === dashboardSectionEnum.PERSONAL_INFO) {
      <app-personal-profile class="animate__fadeIn" />
      }

      <!-- Users Management -->
      @if (activeSection === dashboardSectionEnum.ADMIN_PANEL) { <!-- TODO Aggiugnere && (userRole$ | async) === roles.ADMIN -->
      <app-admin-panel class="animate__fadeIn" />
      }

      <!-- Monitoring Activities -->
      @if (activeSection === dashboardSectionEnum.MONITORING_ACTIVITIES ) { <!-- TODO Aggiungere && (userRole$ | async) !== roles.USER -->
      <app-monitoring-activities class="animate__fadeIn" />
      }

      <!-- Analytics -->
      @if (activeSection === dashboardSectionEnum.ANALYTICS ) { <!-- TODO Aggiungere && (userRole$ | async) !== roles.USER -->
      <app-analytics class="animate__fadeIn" />
      }

      <!-- Favorites -->
      @if(activeSection === dashboardSectionEnum.FAVORITES) {
      <app-favorite-components class="animate__fadeIn" />
      }
    </div>
  </div>
</div>
