<div class="backgroundContainer container-fluid d-flex flex-column justify-content-center align-items-center">
    <div class="row">
        <div class="col-12 image-container">
            <img style="border-radius: 100px;"
                src="https://c1.wallpaperflare.com/preview/286/573/109/error-not-found-404-lego.jpg" alt="Image"
                class="img-fluid">
        </div>
        <h1 style="top: 110px; color: rgb(19 , 107, 51);" class="mt-4 text-center">Oops!</h1>
        <h1 style="bottom: 100px; color: rgb(116 , 181, 18);" class="mt-4 text-center">Page not found!</h1>
    </div>
    <div style=" z-index: 1; margin-top: 680px;" class=""><a routerLink="/home" class="btn btn-danger">Sign In</a></div>
</div>