<section class="home-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card col justify-content-center">
        <div class="card-image col-6">
          <div class="row justify-content-center">
            <img
              [src]="imgPathCharacters"
              class="card-img-top"
              alt="Lego Character Image"
            />
          </div>
        </div>
        <div class="card-body col-6">
          <h2 class="card-title">Character</h2>
          <p class="card-text">
            Here you will find all available characters from the lego version!
          </p>
          <div class="card-text">
            <a routerLink="/characters" class="btn button-card">Go to All Characters!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card col justify-content-center flex-row-reverse">
        <div class="card-image col-6">
          <div class="row justify-content-center">
            <img
              [src]="imgPathProjects"
              class="card-img-top"
              alt="Lego Project Image"
            />
          </div>
        </div>
        <div class="card-body col-6">
          <h2 class="card-title">Project</h2>
          <p class="card-text">
            Explore all the amazing LEGO projects created by our talented community members. From
            intricate designs to creative builds, there's something for every LEGO enthusiast to
            discover and enjoy.
          </p>
          <div class="card-text">
            <a routerLink="/projects" class="btn button-card">Go to All Projects!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card col justify-content-center">
        <div class="card-image col-6">
          <div class="row justify-content-center">
            <img
              [src]="imgPathActivity"
              class="card-img-top"
              alt="Lego Activity Image"
            />
          </div>
        </div>
        <div class="card-body col-6">
          <h2 class="card-title">Activity</h2>
          <p class="card-text">
            Explore all activities related to LEGO projects created by our talented community members.
          </p>
          <div class="card-text">
            <a routerLink="/activities" class="btn button-card">Go to All Activities!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
