/* .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-image: url('https://media-assets.wired.it/photos/615f458a0f2b3dd590a04466/master/w_1600%2Cc_limit/wired_placeholder_dummy.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */